// header
section.header
	.container
	
		a(href="/")
			img.logo(src="i/logo.png", width="100", height="100", alt="")

		nav.main_menu
			a(href="about.html") About
			a(href="contacts.html") Contacts