/*
* Lost variables
*/
@lost gutter 30px;

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;

	@media (--w480) {
	  width: 100%;
	}

	@media (--w768) {
	  width: 768px;
	}

	@media (--w980) {
	  width: 980px;
	}

	@media (--w1200) {
	  width: 1170px;
	}

	@media (--w1400) {
	  width: 1340px;
	}

	@media (--w1600) {
	  width: 1540px;
	}
}