* {
  box-sizing: border-box;
  vertical-align: top;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

html, body {
  font-size: 14px;
  font-family: $custom;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}