// social network links
.soc_block
    a.fb(href="#")
    a.tw(href="#")
    a.vk(href="#")
    a.gp(href="#")
    a.yt(href="#")
    a.yt2(href="#")
    a.ig(href="#")
    a.pt(href="#")
    a.ok(href="#")
    a.fq(href="#")
    a.lj(href="#")

