/*
*	Social block
*/
.soc_block {
	display: block;
	margin: 30px auto;

	a {
		width: 40px;
		height: 40px;
		display: inline-block;
		margin-right: 10px;
		background-size: 20px;
		transition: border 0.2s ease-in-out, background 0.2s ease-in-out;
		border-radius: 50%;

		&.fb {
			background: facebook-color url(../i/fb.svg) center center no-repeat;

			&:hover {
				background-image: svg("fb", "[fill]: facebook-color");
				background-color: #fff;
				border: 2px solid facebook-color;
			}
		}
		&.tw {
			background: twitter-color url(../i/tw.svg) center center no-repeat;
		}
		&.vk {
			background: vkontakte-color url(../i/vk.svg) center center no-repeat;
		}
		&.ig {
			background: instagram-color url(../i/ig.svg) center center no-repeat;
		}
		&.yt {
			background: youtube-color url(../i/yt.svg) center center no-repeat;
		}
		&.pt {
			background: pinterest-color url(../i/pt.svg) center center no-repeat;
		}
		&.ok {
			background: odnoklassniki-color url(../i/ok.svg) center center no-repeat;
		}
		&.fq {
			background: foursquare-color url(../i/fq.svg) center center no-repeat;
		}
		&.gp {
			background: google-color url(../i/gp.svg) center center no-repeat;
		}
		&.lj {
			background: #004359 url(../i/lj.svg) center center no-repeat;
		}
	}
}


/*
*	Map
*/
#map {
	width: 100%;
	height: 400px;
	margin-bottom: 40px;

	.gm-style-cc {
		display: none !important;
	}

	.gmnoprint  {
		/* hide ui */
	}

	[href*='https://maps.google.com/'] {	
		/* hide google map icon */
	}
}


/*
*	checkbox styles
*/
.custom_chbox {
	margin-bottom: 10px;
}

input[type=checkbox].custom_chbox__input {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].custom_chbox__input + .custom_chbox__label {
	padding-left: 30px;
	height: 21px; 
	display:inline-block;
	line-height: 21px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 12px;
	vertical-align:middle;
	cursor:pointer;
	color: #808080;
	transition: color 0.2s;

	&:hover {
		color: #000;
	} 
}

input[type=checkbox].custom_chbox__input:checked + .custom_chbox__label {
	background-position: 0 -21px;
	color: #000;
}

.custom_chbox__label {
	background-image:url(../i/checkbox.png);
	user-select: none;
	margin-bottom: 6px;
}