/*
*	Social block
*/
.soc_block {
	display: block;
	margin: 30px auto;

	a {
		width: 40px;
		height: 40px;
		display: inline-block;
		margin-right: 10px;
		background-size: 20px;
		transition: background-image 0.2s ease-in-out;

		&.fb {
			background: facebook-color url(../i/fb.svg) center center no-repeat;

			&:hover {
				background-image: svg("ei#sc-facebook", "[fill]: black");
			}
		}
		&.tw {
			background: twitter-color url(../i/tw.svg) center center no-repeat;

			&:hover {
				background-image: svg("tw", "[fill]: black");
			}
		}
		&.vk {
			background: vkontakte-color url(../i/vk.svg) center center no-repeat;
		}
		&.ig {
			background: instagram-color url(../i/ig.svg) center center no-repeat;
		}
		&.yt {
			background: youtube-color url(../i/yt.svg) center center no-repeat;
		}
		&.pt {
			background: pinterest-color url(../i/pt.svg) center center no-repeat;
		}
		&.ok {
			background: odnoklassniki-color url(../i/ok.svg) center center no-repeat;
		}
	}
}


/*
*	Map
*/
#map {
	width: 100%;
	height: 400px;
	margin-bottom: 40px;

	.gm-style-cc {
		display: none !important;
	}

	.gmnoprint  {
		display: none !important;
	}

}