/*
*	Header
*/
.header {
	text-align: center;
	overflow: hidden;
	position: relative;

	&:before {
		content: ' ';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../i/') no-repeat center center;
		background-size: cover;
		will-change: transform; /* important line! */
		z-index: -1;
	}
}