/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/magnific-popup/dist/magnific-popup.css";

/*
* Bootstrap parts
*/
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid";

/*
* Custom
*/
@import "partials/mixins";
@import "partials/variable";


* {
  box-sizing: border-box;
  vertical-align: top;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
  margin: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

html, body {
  font-size: 14px;
  font-family: $mainfont;
  -webkit-font-smoothing: antialiased;
}

/*
*	Header
*/
.header {
  text-align: center;
  overflow: hidden;
	position: relative;

	&:before {
		content: ' ';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../i/') no-repeat center center;
		background-size: cover;
		will-change: transform; /* important line! */
		z-index: -1;
	}
}

/*
*	Map
*/
#map {
	width: 100%;
  height: 400px;
  margin-bottom: 40px;
}


/*
*	Footer
*/
.footer {
	background-color: #DDD;
  height: 60px;
  padding-top: 20px;
}
