/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";


/*
* Bootstrap parts
*/
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid";


/*
* Custom
*/
@import "partials/mixins";
@import "partials/variable";


* {
    box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

html, body {
    font-size: 20px;
    font-family: $mainfont;
    -webkit-font-smoothing: antialiased;
}

/*
*	Header
*/
