/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/magnific-popup/dist/magnific-popup.css";

/*
* Custom media
*/
@custom-media --w480 (min-width: 480px);
@custom-media --w768 (min-width: 768px);
@custom-media --w980 (min-width: 992px);
@custom-media --w1200 (min-width: 1200px);


/*
* Variables
*/
@import "partials/variable";


* {
  box-sizing: border-box;
  vertical-align: top;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
  margin: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

html, body {
  font-size: 14px;
  font-family: $mainfont;
  -webkit-font-smoothing: antialiased;
}

h1 {
	color: green;

	@media (--w480) {
	  color: blue;
	}

	@media (--w768) {
	  color: yellow;
	}

	@media (--w980) {
	  color: black;
	}
}

.container {
	width: 980px;
	margin: 0 auto;
}

/*
*	Header
*/
.header {
	text-align: center;
	overflow: hidden;
	position: relative;

	&:before {
		content: ' ';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../i/') no-repeat center center;
		background-size: cover;
		will-change: transform; /* important line! */
		z-index: -1;
	}
}

/*
*	Map
*/
#map {
	width: 100%;
	height: 400px;
	margin-bottom: 40px;
}


/*
*	Footer
*/
.footer {
	background-color: #DDD;
	height: 60px;
	padding-top: 20px;
}
