/*
* Third Party
*/
@import "../../node_modules/normalize.css/normalize.css";
/*@import "../../node_modules/magnific-popup/dist/magnific-popup.css";*/
/*@import "../../node_modules/Swiper/dist/css/swiper.min.css";*/
/*@import "../../node_modules/ion.rangeslider/css/ion.rangeSlider.css";*/
/*@import "../../node_modules/fotorama/fotorama.css";*/
/*@import "../../node_modules/nprogress/nprogress.css";*/


/*
* Parts
*/
@import "parts/reset";
@import "parts/fonts";
@import "parts/variables";
@import "parts/common";
@import "test"; /* remove on prod */


/*
*	Header
*/
.header {
	padding: 20px 0;
}

.logo {
	display: inline-block;
	margin-right: 30px;
}

.main_menu {
	display: inline-block;	
	
	a {
		line-height: 100px;
		margin: 0 20px;
	}
}



/*
*	Footer
*/
.footer {
	background-color: #DDD;
	padding: 20px 0;
}