/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";


/*
* Bootstrap parts
*/
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid";


/*
* Custom
*/
@import "partials/mixins";
@import "partials/variable";


* {
    box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

html, body {
    font-size: 14px;
    font-family: $mainfont;
    -webkit-font-smoothing: antialiased;
}

/*
*	Header
*/
.header {
	background-color: #777;
}


/*
*	Footer
*/
.footer {
	background-color: #999;
}