/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/magnific-popup/dist/magnific-popup.css";
@import "../../bower_components/Swiper/dist/css/swiper.min.css";
@import "../../bower_components/ion.rangeslider/css/ion.rangeSlider.css";
@import "../../bower_components/fotorama/fotorama.css";

/*
* Parts
*/
@import "parts/variable";
@import "parts/my_reset";
@import "parts/fonts";
@import "parts/grid";
@import "parts/extends";
@import "test"; /* remove on prod */


/*
* Blocks
*/

/* common */
@import "blocks/common";
@import "blocks/header";
@import "blocks/footer";

/* contacts */
@import "blocks/contacts";