doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade              

        
        // about
        section.about
            .container
                

        include parts/_footer.jade