doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade

        
        // contacts
        section.contacts
            .container
                
        // map
        section.map
            .container
                #map(data-lat="45.015846", data-lng="39.035264", data-mapicon="pin.png")
      
        include parts/_footer.jade