doctype html
html(lang='ru')
    head
        include parts/_meta.jade

    body
        
        include parts/_header.jade

        // test_container
        section.test_container
            .container



                
                .test_container__right

                    h2 Social block

                    include blocks/soc_block.jade
                    
                    h2 Google map
                    #map
                    
                    h2 Lost grid test 
                        a(href="https://github.com/corysimmons/lost" target="_blank") (documentation)
                    
                    .grid_test
                        div Grid test 1
                        div Grid test 2
                        div Grid test 3
                        div Grid test 4
                        div Grid test 5
                        div Grid test 6
                        div Grid test 7
                        div Grid test 8
                        div Grid test 9
                        div Grid test 10
                        div Grid test 11
                        div Grid test 12   

                    h2 Masked Input 
                        a(href="https://github.com/digitalBush/jquery.maskedinput" target="_blank") (documentation)

                    input(type="text" id="phone")

                .test_container__left
                    h3 Other Useful plugins (don't included):
                    br
                    ul
                        li
                            a(href="https://github.com/daneden/animate.css") animate.css
                        li  TODO         
      
        include parts/_footer.jade